
mfccs/
newmfccs/
254C/BeatFiles
Features/
Images/
LossOverTime/
downbeatLoss/
modelDictMel/
modelDictMelCross/
modelDictMoreFeatures/
modelDictMoreFeatures2/
modelDictWeekend/
moreFeatures2BeatFiles/
moreFeaturesBeatFiles/
